<header></header>
    <h1>{{title}}</h1>
    
    <a style="text-decoration: none; color:#888888; margin-right: 16px" href="/">Weather</a>
    <a style="text-decoration: none; color:#888888; margin-right: 16px" href="/about">About</a>
    <a style="text-decoration: none; color:#888888; margin-right: 16px" href="/help">Help</a>
</header>